---
const {
  name,
  id = `${name}-${crypto.randomUUID()}`,
  value,
  label = "",
  disabled = false,
  required = false,
  class: className = "",
  rules = "[]",
} = Astro.props;
---

<div class={`radio-wrapper flex items-center ${className}`}>
  <input
    type="radio"
    id={id}
    name={name}
    value={value}
    x-model="formData[`${name}`]"
    @change={`validateField('${name}')`}
    class="radio-input h-4 w-4 text-blue-500 focus:ring-blue-500"
    data-rules={rules}
    disabled={disabled}
    required={required}
  />
  {label && (
    <label for={id} class="radio-label ml-2 block text-gray-700">
      <slot>{label}</slot>
    </label>
  )}
</div>