---
import Map from '@/components/map.astro';
import MainLayout from '@/layouts/main-layout.astro';
import { Breadcrumb, Result } from '@/components/index';
import { fetchData } from '@/lib/api';
import Avatar from '@/components/avatar.astro';
import Listings from '@/shared/profiles/listings.astro';
import { IconPhone, IconWhatsapp } from '@/icons/index';
import Gallery from '@/shared/profiles/gallery.astro';
import WorkingHours from '@/shared/profiles/working-hours.astro';
import ShareButton from '@/components/share-button.astro';
import Tags from '@/shared/tags.astro';
import CarouselProfiles from '@/shared/sections/carousel-profiles.astro';

const { id } = Astro.params;
const currentPath = Astro.url.pathname;

// Fetch profile data
const { data, isLoading, isError, errorCode } = await fetchData(`/profiles/${id}`);

const profile = data?.data || null;

// Set HTTP status code based on error condition
if (isError) {
  Astro.response.status = errorCode && typeof errorCode === 'number' ? errorCode : 404;
}


const breadcrumbs =
	data ?
		[
			{ name: 'Home', url: '/' },
			{ name: profile?.province?.name, url: `/${profile?.province?.slug}` },
			{ name: profile?.category?.name, url: `/${profile?.province?.slug}/${profile?.category?.slug}` },
			{ name: profile?.name || id, url: currentPath },
		]
	:	[];
---

<MainLayout title={profile?.name ?? 'Profilo'}>
	<div class="container">
		{isLoading && <p class="text-center text-gray-400 py-6">Caricamento in corso...</p>}
		{
			!isLoading && isError && (
				<Result
					code={errorCode}
					title={errorCode === 404 ? 'Profilo non trovato' : "Errore nel caricamento dell'profilo"}
					description={
						errorCode === 404 ?
							"Il profilo che stai cercando potrebbe essere stato rimosso."
						:	"Si è verificato un problema durante il caricamento dell'profilo. Riprova più tardi."
					}
				/>
			)
		}

		{
			!isLoading && !isError && data && (
				<>
				<div class="flex justify-between items-center mb-4">
					<Breadcrumb links={breadcrumbs} />
					<ShareButton
						title={profile?.name}
						text={`Guarda il profilo di ${profile?.name} su OnlyEscort`}
						url={currentPath}
					/>
				</div>
					{/* Hero Section */}

					<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
						{/* Right Section: Profile Card */}
						<div class="lg:col-span-1">
							<div class="card shadow-none border border-zinc-200">
							<div class="card-body">
								<div
									class="flex items-center space-x-4 mb-6"
									slot="content">
									<Avatar
										src={profile?.avatar}
										size="lg"
									/>
									<div>
										<h1 class="text-3xl font-semibold text-gray-800">{profile?.name}</h1>
										<p class="font-medium text-gray-500">{`Età: ${profile?.age}`}</p>
										<p class="font-medium text-gray-500">Nazionalità: {profile?.nationality_name}</p>
									</div>
								</div>

								<div
									class="flex flex-col space-y-4"
									slot="footer">
									<a class="btn btn-primary"
										target="_blank"
										href={`tel:${profile?.phone_number}`}
										class="w-full">
										<IconPhone />
										{profile?.phone_number || 'Chiama ora'}
									</a>
									<a class="btn btn-whatsapp w-full"
										target="_blank"
										href={`https://api.whatsapp.com/send/?phone_number=${profile?.whatsapp_number}&text=Ciao ho visto il tuo profilo su ${encodeURIComponent(currentPath)}&type=phone_number&app_absent=0`}>
										<IconWhatsapp />
										Whatsapp
									</a>
								</div>
							</div>
							</div>
						</div>
						{/* Left Section */}
						<div class="lg:col-span-2 space-y-6">
							{/* Media */}
							{profile?.images && (
								<section id="profile-gallery">
									<Gallery
										images={profile?.images}
										alt={profile?.title}
										meta={data}
									/>
								</section>
							)}
							{/* Bio */}
							<section
								id="profile-details"
								class="py-4 text-gray-500">
								<p>{profile?.bio}</p>
							</section>
							{/* Tags */}
							{profile?.tags?.length > 0 && <section id="profile-details">
								<span class="text-xl block font-semibold mb-2">Dettagli</span>
								<Tags data={profile?.tags} />
							</section>}
							{/* Working Hours */}
							{profile?.working_hours && (
								<section id="profile-details">
									<span class="text-xl block font-semibold mb-2">Disponibilità</span>
									<WorkingHours data={profile?.working_hours} />
								</section>
							)}
							{/* Listings */}
							{profile?.listings &&
							<section
								id="profile-listings"
								class="py-4">
								<span class="text-xl block font-semibold mb-2">Annunci</span>
								<Listings data={profile?.listings} />
							</section>
							}
							{/* Map */}
							{profile?.lon && profile?.lat && (
								<section
									id="profile-map"
									class="py-6">
									<span class="text-xl block font-semibold mb-2">Location</span>
									<Map
										lat={profile?.lat}
										lon={profile?.lon}
									/>
								</section>
							)}
						</div>
					</div>
				</>
			)
		}
	</div>
	<CarouselProfiles 	
		data={data?.similar_profiles}
	/>
</MainLayout>
