---
import { MEDIA_URL } from '@/utils/constants';
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';

// Astro component script section
const { images = [], alt = '' } = Astro.props;
---

<div class="swiper listing-carousel w-[300px] md:w-[360px] h-[400px] md:h-[420px]">
	<div class="swiper-wrapper">
		{
			images.length ?
				images.map((images) => (
					<div class="swiper-slide">
						<Picture
							class="w-full h-full object-cover transition duration-100 ease-out rounded-2xl"
							src={`${MEDIA_URL}${images?.[0]?.url}` || '/images/placeholder.svg'}
							alt={alt}
							width={500}
							height={500}
							loading="lazy"
						/>
					</div>
				))
			:	<div class="swiper-slide">
					<Picture
						class="w-full h-full object-cover transition duration-100 ease-out rounded-2xl"
						src={`${MEDIA_URL}${images?.[0]?.url}` || '/images/placeholder.svg'}
						alt={alt}
						width={500}
						height={500}
						loading="lazy"
					/>
				</div>
		}
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</div>
